<h1>list Friends</h1>

<div id="friends" class="container">
  <% @friends.each do |friend| %>
<div  class="row"> 
    <%= render friend %>
    <p>
      <%= link_to "Show", friend %>
    </p>
</div>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path %>
