body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 5px 20px;
}

.header h1 a {
  text-decoration: none;
  color: #fff;
}

.header nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.header nav ul li{
  font-size: 25px;
  cursor: pointer;
}

.header nav ul li a{
  text-decoration: none;
  color: white;
}

.header nav ul li a:hover {
  color: #f00;
}

.body {
  padding: 20px;
}

.body h1 {
  padding: 0;
  margin: 0;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: rgb(54, 51, 51);
  border-radius: 5px;
  padding: 10px;
  background-color: #f6d4d4;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.423);
}

.show_row {
  display: flex;
  gap: 30px;
  align-items: center;
  color: rgb(54, 51, 51);
  border-radius: 5px;
  padding: 10px;
  background-color: #f6d4d4;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.423);
}

.action {
  display: flex;
  gap: 10px;
}